@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  line-height: 4rem;
}
header #title {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
header details summary {
  list-style: none;
  margin: 0 1rem;
}
header details ul {
  list-style: none;
  width: 100%;
  height: calc(100vh - 4rem);
  left: 0;
  top: 4rem;
  position: absolute;
  background: url(../source/background_in_space.webp);
  background-position: 70%;
}
header details ul li {
  text-align: center;
  border-bottom: 1px solid #fff;
}
header details ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  header #title {
    font-size: 2.2rem;
    margin: 0 2rem;
  }
  header details summary {
    display: none;
  }
  header details ul {
    top: 0;
    left: 50%;
    width: 50%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    background: none;
    background-color: #fff;
  }
  header details ul li a {
    color: #000;
    transition: transform 0.5s ease;
  }
  header details ul li a:hover {
    text-decoration: underline;
    transform: translateY(-10%);
  }
  header details ul li a.active {
    text-decoration: underline;
  }
}

main {
  display: grid;
  grid-template-rows: 10vh 10vh 20vh repeat(5, max-content);
  grid-template-areas: "." "typing-text" "game" "section-1" "section-2" "section-3" "section-4" "section-5";
}
main #typing-text {
  grid-area: typing-text;
  background-color: aqua;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 10vh;
}
main #game {
  grid-area: game;
  position: relative;
  width: fit-content;
  margin: 2.4rem auto;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  overflow: hidden;
}
main #game a {
  color: #fff;
  text-decoration: none;
  padding: 0 3rem;
}
main #game::before {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  backdrop-filter: blur(1px);
  opacity: 0.7;
  width: 20%;
  height: 150%;
  transform: skew(30deg);
  left: 10%;
  top: -40%;
  animation: move 5s ease infinite;
}
@keyframes move {
  from {
    transform: skew(30deg) translateX(0);
    opacity: 0;
  }
  4% {
    opacity: 0;
  }
  5% {
    transform: skew(30deg) translateX(-200%);
    opacity: 1;
  }
  30% {
    transform: skew(30deg) translateX(2000%);
  }
  46% {
    transform: skew(30deg) translateX(-200%);
  }
  to {
    transform: skew(30deg) translateX(-200%);
  }
}
main .section-1 {
  grid-area: section-1;
}
main .section-2 {
  grid-area: section-2;
}
main .section-3 {
  grid-area: section-3;
}
main .section-4 {
  grid-area: section-4;
}
main code {
  font-family: monospace;
}
main .section {
  border-bottom: 2px dashed #000;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  row-gap: 1rem;
  grid-template-areas: "title" "sub-title" "explanation" "code";
}
main .section h2 {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .section .sub-title {
  grid-area: sub-title;
}
main .section .code-example {
  grid-area: code;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem 1ch;
  margin-bottom: 4rem;
}
main .section .explanation {
  grid-area: explanation;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  padding: 1ch;
}
main .section:not(.first) {
  margin-top: 4rem;
}
main .section-5 {
  grid-area: section-5;
  grid-template-rows: repeat(8, max-content);
  grid-template-areas: "title" "sub-title" "explanation-1" "code-1" "button-1" "explanation-2" "code-2" "button-2";
}
main .section-5 .explanation-1 {
  grid-area: explanation-1;
}
main .section-5 .example-1 {
  grid-area: code-1;
}
main .section-5 #button-1 {
  grid-area: button-1;
}
main .section-5 .explanation-2 {
  grid-area: explanation-2;
}
main .section-5 .example-2 {
  grid-area: code-2;
}
main .section-5 #button-2 {
  grid-area: button-2;
}
main .section-5 .code-example {
  margin-bottom: 0;
}
main .section-5 button {
  cursor: pointer;
  margin: 0 auto 2rem;
  width: fit-content;
  padding: 0.5ch 1ch;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main .section {
    column-gap: 1rem;
  }
  main .section h2 {
    align-items: end;
  }
  main .section:nth-of-type(even) {
    grid-template-areas: "title explanation" "sub-title code";
  }
  main .section:nth-of-type(odd) {
    grid-template-areas: "explanation title " "code sub-title";
  }
  main .section-5 {
    grid-template-areas: "title title" "sub-title sub-title" "explanation-1 explanation-2" "code-1 code-2" "button-1 button-2" !important;
  }
}
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". ." "typing-text typing-text" "game game" "section-1 section-2" "section-3 section-4" "section-5 section-5";
    column-gap: 1rem;
  }
  main .section-5 {
    grid-template-areas: "title title" "sub-title sub-title" "explanation-1 explanation-2" "code-1 code-2" "button-1 button-2" !important;
    column-gap: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
