@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

:root {
  --font-color: #96CEB4;
  --first-font-size: 3rem;
  --first-stroke-dash: 11rem;
  --second-font-size: 2.8rem;
  --second-stroke-dash: 11rem;
  --third-font-size: 4rem;
  --third-stroke-dash: 14rem;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url(source/background_in_space.webp);
  background-size: cover;
  background-position: 50%;
}
body .title {
  position: relative;
}
body .title svg .first {
  font-size: var(--first-font-size);
  font-family: "Londrina Shadow", sans-serif;
  fill: transparent;
  stroke: var(--font-color);
  stroke-width: 0.1rem;
  stroke-dasharray: var(--first-stroke-dash);
  stroke-dashoffset: var(--first-stroke-dash);
  animation: textAppear 6s ease-in-out 1 forwards;
}
@keyframes textAppear {
  0% {
    stroke-dashoffset: var(--first-stroke-dash);
  }
  10% {
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: var(--font-color);
  }
  100% {
    stroke-dashoffset: var(--first-stroke-dash);
    fill: transparent;
  }
}
body .title svg .second {
  font-size: var(--second-font-size);
  font-family: "Londrina Shadow", sans-serif;
  fill: transparent;
  stroke: var(--font-color);
  stroke-width: 0.1rem;
  stroke-dasharray: var(--second-stroke-dash);
  stroke-dashoffset: var(--second-stroke-dash);
  animation: textAppear 7s ease-in-out 1 forwards;
}
@keyframes textAppear {
  0% {
    stroke-dashoffset: var(--second-stroke-dash);
  }
  10% {
    fill: transparent;
  }
  70% {
    stroke-dashoffset: 0;
    fill: var(--font-color);
  }
  100% {
    stroke-dashoffset: var(--second-stroke-dash);
    fill: transparent;
  }
}
body .title svg .second {
  animation-delay: 7s;
}
body .title svg .third {
  font-size: var(--third-font-size);
  font-family: "Londrina Shadow", sans-serif;
  fill: transparent;
  stroke: var(--font-color);
  stroke-width: 0.1rem;
  stroke-dasharray: var(--third-stroke-dash);
  stroke-dashoffset: var(--third-stroke-dash);
  animation: third_appear 6s ease-out 1 forwards;
  animation-delay: 15s;
}
@keyframes third_appear {
  0% {
    stroke-dashoffset: var(--third-stroke-dash);
    fill: transparent;
  }
  100% {
    fill: var(--font-color);
    stroke-dashoffset: 0vw;
  }
}
body .title button {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  background-color: var(--font-color);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  animation: button-appear 1s linear 1 forwards;
  animation-delay: 5s;
}
@keyframes button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .title button:hover {
  background-color: #7cae97;
}

@media screen and (min-width: 768px) {
  :root {
    --first-font-size: 5.8rem;
    --first-stroke-dash: 20rem;
    --second-font-size: 5.5rem;
    --second-stroke-dash: 20rem;
    --third-font-size: 8rem;
    --third-stroke-dash: 27rem;
  }
  #first-line {
    transform: translateY(-2rem);
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --first-font-size: 7rem;
    --first-stroke-dash: 25rem;
    --second-font-size: 6.8rem;
    --second-stroke-dash: 25rem;
    --third-font-size: 10rem;
    --third-stroke-dash: 34rem;
  }
  #first-line {
    transform: translateY(-3rem);
  }
}

/*# sourceMappingURL=style.css.map */
