body {
    font-family: "Fredoka", sans-serif;
    position: relative;
    background-color: #96ffbb;
}

#flowers-container {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    top: 5vh;
    left: 5vw;
}
iframe {
    border: none;
    width: 90vw;
    height: 35vh;
}
.appear {
    animation: appear 3s linear 1 forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.question-container {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    width: 90%;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    border-radius: 10px;
    border: 5px solid #d08f39;
    background-color: #F0BB78;
    display: grid;
    grid-template-rows: 50vw 1fr 4fr 1fr;
    grid-template-areas:
        "image"
        "question"
        "answer"
        "button";
}

.img-container {
    grid-area: image;
    width: 90%;
    margin: 2rem auto;
    border: 5px solid #694714;
}

.img-container img {
    height: 100%;
    width: 100%;
}

.question {
    grid-area: question;
    background-color: #694714;
    color: #fff;
    width: 90%;
    height: fit-content;
    padding: 8px 0;
    font-size: 0.8rem;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

.answer {
    padding-left: 0;
    grid-area: answer;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.answer li {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 5px;
}

.false {
    background-color: grey;
    color: black;
    animation: false 2s linear 1 forwards;
}

@keyframes false {
    0% {
        transform: translateX(0);
        background-color: grey;
    }

    33% {
        transform: translateX(-10%);
    }

    66% {
        transform: translateX(10%);
    }

    99% {
        background-color: grey;
    }

    100% {
        transform: translateX(0);
        background-color: initial;
    }
}

.button-container {
    grid-area: button;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    border: none;
    background-color: #694714;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 1rem;
}

meter {
    width: 50%;
    height: 3rem;
    margin-top: 1rem;
}

.question-container.active {
    z-index: 1;
    opacity: 1;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    iframe {
        height: 90vh;
    }
    .question-container {
        grid-template-rows: 1fr 5fr 3fr 1fr;
        grid-template-areas:
            "question"
            "image"
            "answer"
            "button";
    }

    .question {
        width: 70%;
        margin: 3% auto 0;
    }

    .img-container {
        width: 70%;
    }

    .answer li {
        width: 5rem;
        height: 3rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 769px) {
    #flowers-container {
        inset: 0;
    }
    iframe {
        width: 100vw;
        height: 100vh;
    }
    .question-container {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: repeat(2, 4fr) 1fr;
        grid-template-areas:
            "image question"
            "image answer"
            "button button";
    }

    .img-container {
        height: 70%;
        margin-top: 10%;
    }

    .question {
        margin-top: 20%;
        font-size: 1rem;
        padding: 1rem 0;
    }

    .answer {
        gap: 0;
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .answer li {
        width: 50%;
    }
}