@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
header #title {
  margin: 15px 5vw;
  font-size: 1.5rem;
  font-weight: 700;
}
header details summary {
  list-style: none;
  margin: 20px 5vw;
}
header details ul {
  z-index: 100;
  list-style: none;
  width: 100vw;
  height: 90vh;
  left: 0;
  top: 10vh;
  position: absolute;
  background: url(../source/background_in_space.webp);
  background-position: 70%;
}
header details ul li {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
header details ul li a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  header #title {
    font-size: 2.2rem;
  }
  header details summary {
    display: none;
  }
  header details ul {
    top: 0;
    left: 50%;
    width: 50vw;
    height: 10vh;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background: none;
    background-color: #fff;
    border: none;
  }
  header details ul li a {
    color: #000;
    transition: transform 0.5s ease;
  }
  header details ul li a:hover {
    text-decoration: underline;
    transform: translateY(-10%);
  }
  header details ul li .active {
    text-decoration: underline;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

main {
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 15vh 4vh repeat(4, max-content);
  grid-template-areas: "." "title" "sub-nav" "theme-1" "theme-2" "theme-3" "theme-4";
}
main .title {
  position: relative;
  z-index: 1;
  grid-area: title;
  width: 100%;
  height: 15vh;
  background-color: #7C00FE;
}
main .title img {
  position: absolute;
  width: 20%;
  border-radius: 50%;
  left: 8%;
  bottom: 5%;
}
main .title span {
  color: #fff;
  padding: 3%;
  position: absolute;
  width: 70%;
  top: 5%;
  left: 30%;
  border: 2px dashed #fff;
  border-radius: 20%;
}
main .sub-navbar {
  grid-area: sub-nav;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
  overflow: scroll;
  background-color: #FFAF00;
  width: 100%;
  padding: 0 5%;
  height: 4vh;
  position: sticky;
  top: 10vh;
}
main .sub-navbar a {
  text-decoration: none;
  color: #fff;
}
main #theme-1 {
  grid-area: theme-1;
  display: flex;
  flex-direction: column;
  background-color: #d6f0ca;
}
main #theme-1 h3 {
  text-align: center;
  margin: 2vh;
}
main #theme-1 .opening {
  text-align: center;
  margin-bottom: 3vw;
}
main #theme-1 ul {
  width: 90%;
  margin: 0 auto;
  padding: 5% 7% 5% 12%;
  border: 1vw solid #000;
  border-radius: 10px;
  background-color: #355F2E;
  color: #fff;
}
main #theme-1 ul li {
  margin-bottom: 2vh;
  font-family: "Cabin Sketch", sans-serif;
}
main #theme-1 .ending {
  text-align: center;
  border: 0.5vw solid #000;
  border-radius: 20% 10% 20% 10%/10% 20% 10% 20%;
  width: 90%;
  margin: 1.5vh auto;
}
main #theme-1 a {
  text-align: center;
  margin: 5vh 0 10vh;
}
main #theme-1 a button {
  width: 35%;
  border: none;
  background-color: #FCC737;
  border-radius: 10px;
  padding: 1vh 0;
  cursor: pointer;
  animation: myAnimation linear 3s infinite;
}
@keyframes myAnimation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
main #theme-2 {
  grid-area: theme-2;
  display: flex;
  flex-direction: column;
  background-color: #B7E0FF;
}
main #theme-2 h3 {
  text-align: center;
  margin: 2vh;
}
main #theme-2 .opening {
  text-align: center;
  margin-bottom: 3vw;
}
main #theme-2 ul {
  width: 90%;
  margin: 0 auto;
  padding: 5% 7% 5% 12%;
  border: 1vw solid #000;
  border-radius: 10px;
  background-color: #355F2E;
  color: #fff;
}
main #theme-2 ul li {
  margin-bottom: 2vh;
  font-family: "Cabin Sketch", sans-serif;
}
main #theme-2 .ending {
  text-align: center;
  border: 0.5vw solid #000;
  border-radius: 20% 10% 20% 10%/10% 20% 10% 20%;
  width: 90%;
  margin: 1.5vh auto;
}
main #theme-2 a {
  text-align: center;
  margin: 5vh 0 10vh;
}
main #theme-2 a button {
  width: 35%;
  border: none;
  background-color: #F26B0F;
  border-radius: 10px;
  padding: 1vh 0;
  cursor: pointer;
  animation: myAnimation linear 3s infinite;
}
@keyframes myAnimation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
main #theme-3 {
  grid-area: theme-3;
  display: flex;
  flex-direction: column;
  background-color: #FFF5CD;
}
main #theme-3 h3 {
  text-align: center;
  margin: 2vh;
}
main #theme-3 .opening {
  text-align: center;
  margin-bottom: 3vw;
}
main #theme-3 ul {
  width: 90%;
  margin: 0 auto;
  padding: 5% 7% 5% 12%;
  border: 1vw solid #000;
  border-radius: 10px;
  background-color: #355F2E;
  color: #fff;
}
main #theme-3 ul li {
  margin-bottom: 2vh;
  font-family: "Cabin Sketch", sans-serif;
}
main #theme-3 .ending {
  text-align: center;
  border: 0.5vw solid #000;
  border-radius: 20% 10% 20% 10%/10% 20% 10% 20%;
  width: 90%;
  margin: 1.5vh auto;
}
main #theme-3 a {
  text-align: center;
  margin: 5vh 0 10vh;
}
main #theme-3 a button {
  width: 35%;
  border: none;
  background-color: #E73879;
  border-radius: 10px;
  padding: 1vh 0;
  cursor: pointer;
  animation: myAnimation linear 3s infinite;
}
@keyframes myAnimation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
main #theme-3 .formen {
  display: none;
}
main #theme-4 {
  grid-area: theme-4;
  display: flex;
  flex-direction: column;
  background-color: #F5DAD2;
}
main #theme-4 h3 {
  text-align: center;
  margin: 2vh;
}
main #theme-4 .opening {
  text-align: center;
  margin-bottom: 3vw;
}
main #theme-4 ul {
  width: 90%;
  margin: 0 auto;
  padding: 5% 7% 5% 12%;
  border: 1vw solid #000;
  border-radius: 10px;
  background-color: #355F2E;
  color: #fff;
}
main #theme-4 ul li {
  margin-bottom: 2vh;
  font-family: "Cabin Sketch", sans-serif;
}
main #theme-4 .ending {
  text-align: center;
  border: 0.5vw solid #000;
  border-radius: 20% 10% 20% 10%/10% 20% 10% 20%;
  width: 90%;
  margin: 1.5vh auto;
}
main #theme-4 a {
  text-align: center;
  margin: 5vh 0 10vh;
}
main #theme-4 a button {
  width: 35%;
  border: none;
  background-color: #7E1891;
  border-radius: 10px;
  padding: 1vh 0;
  cursor: pointer;
  animation: myAnimation linear 3s infinite;
}
@keyframes myAnimation {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 426px) and (max-width: 767.9px) {
  main {
    font-size: 1rem;
    grid-template-rows: 10vh 20vh 4vh repeat(4, max-content);
  }
  main .title {
    height: 20vh;
  }
  main .sub-navbar {
    justify-content: center;
    overflow: hidden;
  }
  main a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  main {
    font-size: 2rem;
    grid-template-rows: 10vh 30vh 4vh repeat(4, max-content);
  }
  main .title {
    height: 30vh;
  }
  main .sub-navbar {
    justify-content: center;
    overflow: hidden;
  }
  main a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 10vh 25vh repeat(4, auto);
    grid-template-areas: ". ." "title title" "sub-nav theme-1" "sub-nav theme-2" "sub-nav theme-3" "sub-nav theme-4";
  }
  main .title {
    height: 25vh;
  }
  main .title img {
    width: 12%;
  }
  main .title span {
    left: 25%;
    font-size: 2rem;
    text-align: center;
  }
  main .sub-navbar {
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    gap: 10vh;
    height: 90vh;
  }
  main .sub-navbar a {
    text-align: center;
    transition: transform 0.3s ease;
  }
  main .sub-navbar a:hover {
    transform: scale(1.4);
  }
  main #theme-1, main #theme-2 {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  main #theme-1 > div, main #theme-2 > div {
    width: calc((100vw - 217px) / 3);
    height: fit-content;
  }
  main #theme-1 ul, main #theme-2 ul {
    border-width: 0.4vw;
  }
  main #theme-1 .ending, main #theme-2 .ending {
    border-width: 0.3vw;
  }
  main #theme-1 a, main #theme-2 a {
    flex-basis: 100%;
  }
  main #theme-1 a button, main #theme-2 a button {
    width: 20%;
  }
  main #theme-3 {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  main #theme-3 > div {
    width: calc((100vw - 217px) / 1);
    height: fit-content;
  }
  main #theme-3 ul {
    border-width: 0.4vw;
  }
  main #theme-3 .ending {
    border-width: 0.3vw;
  }
  main #theme-3 a {
    flex-basis: 100%;
  }
  main #theme-3 a button {
    width: 20%;
  }
  main #theme-3 ul {
    position: relative;
  }
  main #theme-3 ul .formen {
    display: block;
    position: absolute;
    right: 10%;
    top: calc((100vw - 217px) * 0.9 * 0.05);
  }
  main #theme-3 ul .formen > * {
    margin-bottom: 1.5vh;
  }
  main #theme-3 ul .formen .circle {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  main #theme-3 ul .formen .square {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
  }
  main #theme-3 ul .formen .rectangle {
    width: 35px;
    height: 25px;
    border: 2px solid #fff;
  }
  main #theme-3 ul .formen .triangle {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  main #theme-3 ul .formen .triangle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 10;
    background-color: #355F2E;
  }
  main #theme-4 {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  main #theme-4 > div {
    width: calc((100vw - 217px) / 2);
    height: fit-content;
  }
  main #theme-4 ul {
    border-width: 0.4vw;
  }
  main #theme-4 .ending {
    border-width: 0.3vw;
  }
  main #theme-4 a {
    flex-basis: 100%;
  }
  main #theme-4 a button {
    width: 20%;
  }
  main #theme-4 .opening {
    padding-left: 5%;
  }
}
.autoShow *:not(a) {
  animation: autoShowAnimation;
  animation-timeline: view(70% 5%);
  animation-fill-mode: both;
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
