@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fff;
    line-height: 4rem;
}

#title {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

header summary {
    list-style: none;
    margin: 0 1rem;
}

header ul {
    list-style: none;
    width: 100%;
    height: calc(100vh - 4rem);
    left: 0;
    top: 4rem;
    position: absolute;
    background: url(../source/background_in_space.webp);
    background-position: 70%;
}

header li {
    text-align: center;
    border-bottom: 1px solid #fff;
}

header a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    #title {
        font-size: 2.2rem;
        margin: 0 2rem;
    }

    header summary {
        display: none;
    }

    header ul {
        top: 0;
        left: 50%;
        width: 50%;
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        background: none;
        background-color: #fff;
    }

    header a {
        color: #000;
        transition: transform 0.5s ease;
    }

    header a:hover {
        text-decoration: underline;
        transform: translateY(-10%);
    }

    header a.active {
        text-decoration: underline;
    }
}

main {
    height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 6rem 1.6rem repeat(4, auto);
    grid-template-areas:
        "."
        /*placeholder for header area*/
        "title"
        "sub-nav"
        "theme-1"
        "theme-2"
        "theme-3"
        "theme-4";
}

.title {
    position: relative;
    grid-area: title;
    width: 100%;
    height: 6rem;
    background-color: #7C00FE;
}

.title img {
    position: absolute;
    width: 20%;
    border-radius: 50%;
    left: 8%;
    bottom: 5%;
}

.title span {
    color: #fff;
    padding: 3%;
    position: absolute;
    width: 65%;
    top: 5%;
    left: 30%;
    border: 2px dashed #fff;
    border-radius: 20%;
}

.sub-navbar {
    z-index: 10;
    grid-area: sub-nav;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    overflow: scroll;
    background-color: #FFAF00;
    width: 100%;
    padding: 0 1rem;
    position: sticky;
    top: 4rem;
}

.sub-navbar a {
    text-decoration: none;
    color: #fff;
}

#theme-1 {
    grid-area: theme-1;
    display: flex;
    flex-direction: column;
    background-color: #d6f0ca;
}

#theme-2 {
    grid-area: theme-2;
    display: flex;
    flex-direction: column;
    background-color: #B7E0FF;
}

#theme-3 {
    grid-area: theme-3;
    display: flex;
    flex-direction: column;
    background-color: #FFF5CD;
}

#theme-3 .formen {
    display: none;
}

#theme-4 {
    grid-area: theme-4;
    display: flex;
    flex-direction: column;
    background-color: #F5DAD2;
}

.theme h3 {
    text-align: center;
    margin: 1rem;
}

.opening {
    text-align: center;
    margin-bottom: 0.6rem;
}

.theme ul {
    width: 90%;
    margin: 0 auto;
    padding: 5% 7% 5% 12%;
    border: 0.3rem solid #000;
    border-radius: 10px;
    background-color: #355F2E;
    color: #fff;
}

.theme li {
    margin-bottom: 0.8rem;
    font-family: "Cabin Sketch", sans-serif;
}

.ending {
    text-align: center;
    border: 0.15rem solid #000;
    border-radius: 20% 10% 20% 10%/ 10% 20% 10% 20%;
    width: 90%;
    margin: 1rem auto 0;
}

.theme a {
    text-align: center;
    margin: 3rem auto 4rem;
}

.theme button {
    width: fit-content;
    border: none;
    background-color: #FCC737;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    animation: myAnimation linear 3s infinite;
}

#theme-2 button {
    background-color: #F26B0F;
}

#theme-3 button {
    background-color: #E73879;
}

#theme-4 button {
    background-color: #7E1891;
}

@keyframes myAnimation {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

/*responsive large phone + tablet*/
@media screen and (min-width: 426px) and (max-width: 767.9px) {
    main {
        grid-template-rows: 4rem 8rem 1.6rem repeat(4, auto);
    }

    .title {
        height: 8rem;
    }

    .sub-navbar {
        justify-content: center;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023.9px) {
    main {
        grid-template-rows: 4rem 12rem 2rem repeat(4, auto);
    }

    .title {
        height: 12rem;
        font-size: 2rem;
    }

    .sub-navbar {
        justify-content: center;
        font-size: 1.5rem;
        gap: 4rem;
    }

    .theme button {
        padding: 0.8rem 3rem;
    }
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 4rem 10rem repeat(4, auto);
        grid-template-areas:
            ". ."
            "title title"
            "sub-nav theme-1"
            "sub-nav theme-2"
            "sub-nav theme-3"
            "sub-nav theme-4";
    }

    .title {
        height: 10rem;
    }

    .title img {
        width: 12%;
    }

    .title span {
        left: 25%;
        font-size: 2rem;
        text-align: center;
    }

    .sub-navbar {
        overflow: hidden;
        flex-direction: column;
        padding-top: 4rem;
        gap: 4rem;
        height: calc(100vh - 4rem);
    }

    .sub-navbar a {
        text-align: center;
        transition: transform 0.3s ease;
    }

    .sub-navbar a:hover {
        transform: scale(1.4);
    }

    .theme {
        margin: 0;
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 0;
    }
    .theme a {
        flex-basis: 20%;   
        margin: 3rem auto 4rem;
    }
    .theme button {
        padding: 0.8rem 2rem;
    }

    #theme-1 > div, #theme-2 > div {
        width: 33.333333%;
        height: fit-content;
    }

    #theme-3 > div {
        width: 100%;
        height: fit-content;
    }
    /*adding the shapes*/
    #theme-3 ul {
        position: relative;
    }
    #theme-3 .formen {
        display: block;
        position: absolute;
        right: 10%;
        top: 20%;
    }
    .formen > * {
        margin-bottom: 0.6rem;
    }
    .circle{
        width: 25px;
        height: 25px;
        border: 2px solid #fff;
        border-radius: 50%;
    }
    .square{
        width: 25px;
        height: 25px;
        border: 2px solid #fff;
    }
    .rectangle{
        width: 35px;
        height: 25px;
        border: 2px solid #fff;
    }
    .triangle{
        position: relative;
        width: 25px;
        height: 25px;
        background-color: #fff;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    .triangle::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        z-index: 10;
        background-color: #355F2E;
    }
    #theme-4 > div {
        width: 50%;
    }
    #theme-4 .opening {
        padding-left: 2ch;
    }
}

.autoShow > div {
    animation: autoShowAnimation;
    animation-timeline: view(80% 5%);
    animation-fill-mode: both;
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}