@use "../../source/reset";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

body{
    font-family: "Fredoka", sans-serif;
    position: relative;
    background-color: #96ffbb;
    #flowers-container{
        position: absolute;
        z-index: 100;
        pointer-events: none;
        opacity: 0;
        img{
            width: 100vw;
            height: 100vh;
        }
    }
    .appear{
        animation: appear 3s linear 1 forwards;
    }
    @keyframes appear {
        from{
            opacity: 0;
        }
        40%{
            opacity: 1;
        }
        60%{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    .question-container{
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute;
        width: 90%;
        height: 90vh;
        top: 5vh;
        left: 5%;
        border-radius: 10px;
        border: 5px solid #d08f39;
        background-color: #F0BB78;
        display: grid;
        grid-template-rows: 50vw 1fr 4fr 1fr;
        grid-template-areas: 
        "image"
        "question"
        "answer"
        "button";
        .img-container{
            grid-area: image;
            width: 90%;
            margin: 5% auto;
            border: 5px solid #694714;
            border-radius: 10px;
            font-size: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #355F2E;
            color: #fff;
            font-family: "Cabin Sketch", sans-serif;
        }
        .question{
            grid-area: question;
            background-color: #694714;
            color: #fff;
            width: 90%;
            height: fit-content;
            padding: 8px 0;
            font-size: 0.8rem;
            margin: 0 auto 15%;
            border-radius: 5px;
            text-align: center;
        }
        .answer{
            grid-area: answer;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 4vw;
            li{
                cursor: pointer;
                width: 3rem;
                height: 3rem;
                text-align: center;
                line-height: 3rem;
                border-radius: 5px;
            }
            .false{
                background-color: grey;
                color: black;
                animation: false 2s linear 1 forwards;
            }
            @keyframes false {
                0%{
                    transform: translateX(0);
                    background-color: grey;
                }
                33%{
                    transform: translateX(-10%);
                }
                66%{
                    transform: translateX(10%);
                }
                99%{
                    background-color: grey;
                }
                100%{
                    transform: translateX(0);
                    background-color: initial;
                }
            }
        }
        .button-container{
            grid-area: button;
            display: flex;
            justify-content: space-between;
            button{
                cursor: pointer;
                width: 50px;
                height: 50px;
                border: none;
                background-color: #694714;
                color: #fff;
                font-size: 1.5rem;
                border-radius: 50%;
                margin: 1rem;
            }
            meter{
                width: 50%;
                height: 8vh;
                margin-top: 1rem;
            }
        }
    }
    .question-container.active{
        z-index: 1;
        opacity: 1;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    body{
        .question-container{
            grid-template-rows: 1fr 5fr 3fr 1fr;
            grid-template-areas: 
            "question"
            "image"
            "answer"
            "button";
            .question{
                width: 70%;
                margin: 3% auto 0;
            }
            .img-container{
                max-height: 40vh;
                width: 70%; 
                font-size: 5rem;
            }
            .answer{
                li{
                    width: 5rem;
                    height: 3rem;
                    line-height: 3rem;
                }
            }
        }
    }
}

@media screen and (min-width: 769px){
    body{
        .question-container{
            grid-template-columns: 3fr 2fr;
            grid-template-rows: repeat(2, 4fr) 1fr;
            grid-template-areas: 
            "image question"
            "image answer"
            "button button";
            .img-container{
                height: 70%;
                margin-top: 10%;
                font-size: 6rem;
            }
            .question{
                margin-top: 20%;
                font-size: 1rem;
                padding: 1rem 0;
            }
            .answer{
                gap: 0;
                width: 90%;
                height: fit-content;
                margin: 0 auto;
                flex-wrap: wrap;
                li{
                    width: 50%;
                }
            }
        }
    }
}


